<div class="row">
  <div class="col-lg-6">
    <div class="banner-text">
      <h3 class="sub-title h3-title">{{data.appellation}}</h3>
      <h3 class="sub-title h3-title">{{data.region}}</h3>
      <h1 class="h1-title">{{data.name}}</h1>
      <div class="banner-btn">
        <a class="select-btn" href="product-single.html" title="Voir le produit">Voir le produit
        </a>
        <h3 class="banner-bottle-price">
          {{data.price}}€
          <span class="underline-text"></span>
        </h3>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="banner-right-part">
      <div class="wine-bottle">
        <img alt="" src="assets/images/wine-bottle-2.png">
      </div>
    </div>
  </div>
</div>`