/*==========Responsive Start==========*/

@media screen and (min-width: 992px) {
    .menu-toggle {
        display: none;
    }
}

@media (max-width: 1499px) {
    .scrolltotop {
        right: 15px;
    }
}

@media (max-width: 1399px) {

    .h3-title {
        font-size: 26px;
        line-height: 36px;
    }

    .main-banner {
        padding-block: 280px 170px;
    }

    .wine-bottle img {
        width: 200px;
    }

    .section {
        padding-block: 60px;
    }

    .scrolltotop {
        bottom: 210px;
        right: 40px;
    }

    .product-info {
        padding-left: 30px;
    }
}

@media (max-width: 1199px) {

    .main-banner {
        padding-block: 230px 140px;
        min-height: auto;
    }

    .banner-text {
        padding: 0;
    }

    .h1-title {
        margin-bottom: 30px;
    }

    .h3-title:not(.wishlist-box-top .h3-title,
        .category-product-box-left .h3-title) {
        font-size: 22px;
        line-height: 30px;
    }

    .wine-bottle img {
        top: -50px;
    }

    p,
    body,
    button,
    input,
    select,
    optgroup,
    textarea {
        font-size: 16px;
        line-height: 30px;
    }

    .product-box-price {
        font-size: 30px;
    }

    .fluid-section {
        margin-inline: clamp(15px, 2vw, 75px);
    }

    .shop-product-box {
        padding: 30px 15px;
    }

    .shop-product-box-info .product-name {
        min-height: 85px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        padding: 0;
    }

    .shop-product-box-info .posted_in {
        margin-bottom: 3px;
    }

    .shop-product-box-img img {
        width: 80px;
    }

    .shop-product-box-img {
        margin-top: 40px;
    }

    .product-info .h1-title {
        font-size: 75px;
    }

    .breadcrumb-item,
    .breadcrumb-item a {
        font-size: 18px;
    }
}

@media (max-width: 991px) {

    .for-mob {
        display: block !important;
    }

    .header-logo img {
        width: 100%;
    }

    .menu-toggle {
        position: absolute;
        top: 50%;
        right: 30px;
        border: none;
        outline: none !important;
        background: transparent;
        width: 30px;
        height: 30px;
        padding: 0;
        z-index: 101;
        transform: translate(0, -50%);
        transition: 0.3s;
    }

    .menu-toggle span {
        display: block;
        width: 100%;
        height: 3px;
        background: var(--primary-color);
        margin-bottom: 5px;
        transition: 0.3s;
    }

    .menu-toggle span:last-child {
        margin: 0;
    }

    .toggled .menu-toggle span:nth-child(1) {
        transform: rotate(45deg);
        position: relative;
        top: 8px;
    }

    .toggled .menu-toggle span:nth-child(2) {
        transform: rotate(-45deg);
    }

    .toggled .header-menu {
        transform: translatey(0);
    }

    .header-menu {
        height: calc(100vh + 30px);
        position: absolute;
        top: -60px;
        left: 0;
        width: 100%;
        padding-top: max(10vh, 60px);
        padding-inline: max(6vh, 15px);
        padding-bottom: 30px;
        z-index: 100;
        transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
        overflow-y: auto;
        transform: translatey(-100%);
        background-image: url(../images/paper.jpg);
    }

    .main-navigation .menu li {
        display: block;
        float: none;
        margin: 0;
        margin-bottom: clamp(15px, 7vh, 10vh);
    }

    .main-navigation .menu li a {
        display: inline-block;
        font-size: max(18px, 2vh);
        margin: 0;
        font-weight: bold;
    }

    .site-header {
        justify-content: center;
        border-bottom: 1px solid rgb(0 48 73 / 8%);
    }

    .header-main.header-bottom {
        display: block;
        margin: 0;
        position: relative;
        height: 60px;
        margin-top: 37px;
    }

    .header-logo {
        position: absolute;
        top: 50%;
        left: 30px;
        max-width: 200px;
        z-index: 2;
        transform: translate(0, -50%);
    }

    .main-navigation {
        display: block;
        height: 100%;
    }

    .header-search {
        display: none;
    }

    .main-navigation .menu .dropdown-items.dropdown-open>a,
    .main-navigation .menu li .header-active-menu {
        color: var(--secondary-color);
    }

    .search-form .form-input {
        width: 100%;
        height: 60px;
        font-size: 22px;
        padding-right: 30px;
    }

    .search-form {
        max-width: 100%;
    }

    .main-banner {
        padding-block: 160px clamp(180px, 35vw, 300px);
    }

    .wine-bottle img {
        width: clamp(100px, 16vw, 180px);
    }

    .wine-bottle {
        margin-top: 100px;
        margin-left: clamp(-80px, -30vw, -100px);
    }

    .banner-text {
        text-align: center;
    }

    .banner-btn {
        flex-direction: column;
    }

    .banner-bottle-price {
        margin-left: 0;
        margin-top: 15px;
    }

    .wine-bottle:after {
        width: clamp(300px, 55vw, 500px);
        height: clamp(300px, 55vw, 500px);
    }

    .main-banner:after,
    .inner-banner:after {
        -webkit-mask-size: 100%;
    }

    .banner-text .sub-title {
        margin-bottom: 15px;
    }

    .fluid-section {
        margin-inline: 30px;
    }

    .scrolltotop {
        bottom: 30px;
        right: 30px;
    }

    .product-box-shape {
        width: 80%;
        transform: translate(-50%, -60%);
    }

    .banner-shape img {
        display: none;
    }

    .form-input,
    select {
        height: 40px;
    }

    .product-info {
        padding-left: 0;
    }

    .breadcrumb {
        margin: 0;
    }

    .h1-title,
    .product-info .h1-title {
        font-size: clamp(60px, 7vw, 80px);
        line-height: 1.3;
    }

    .product-info .h1-title {
        margin-bottom: 15px;
    }

}

/*==========Responsive End==========*/