
<section class="single-product">
  <div class="container" id="product">
  </div>
  <div class="reviewSection" id="reviews">
    <div class="reviewItem">
      <div class="top">
        <span>Raju Sheoran</span>
        <ul>
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-regular fa-star"></i></li>
            <li><i class="fa-regular fa-star"></i></li>
        </ul>
      </div>
      <article>
        <p class="review">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit beatae ipsa
            voluptatibus perferendis quos eaque nemo error tempora harum quas.</p>
        <p>Fev 20, 2022</p>
      </article>
    </div>
    <div class="reviewItem">
      <div class="top">
        <span>Raju Sheoran</span>
        <ul>
          <li><i class="fa-solid fa-star"></i></li>
          <li><i class="fa-solid fa-star"></i></li>
          <li><i class="fa-solid fa-star"></i></li>
          <li><i class="fa-solid fa-star"></i></li>
          <li><i class="fa-regular fa-star"></i></li>
        </ul>
      </div>
      <article>
        <p class="review">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit beatae ipsa
          voluptatibus perferendis quos eaque nemo error tempora harum quas, laudantium tenetur, neque,
          facere exercitationem!</p>
        <p>01 Janvier, 2023</p>
      </article>
    </div>
  </div>
</section>
