<footer class="site-footer dark-bg">
  <div class="container">
      <div class="row">
          <div class="footer-about text-center white-text">
              <div class="footer-logo">
                  <img alt="logo" src="assets/logo.png" width="280">
              </div>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam aliquam molestias
                  perferendis minima, cum inventore aut? Neque a quisquam quis delectus necessitatibus
                  explicabo unde? Illum non laborum delectus atque ab?</p>
              <div class="footer-social">
                  <ul>
                      <li><a href="https://facebook.com" target="_blank" title="Follow On Facebook"><i
                                  aria-hidden="true" class="fab fa-facebook-f"></i></a></li>
                      <li><a href="https://www.linkedin.com" target="_blank" title="Follow On Linkedin"><i
                                  aria-hidden="true" class="fab fa-linkedin-in"></i></a></li>
                      <li><a href="https://www.instagram.com" target="_blank" title="Follow On Instagram"><i
                                  aria-hidden="true" class="fab fa-instagram"></i></a></li>
                      <li><a href="https://www.youtube.com" target="_blank" title="Follow On Youtube"><i
                                  aria-hidden="true" class="fab fa-youtube"></i></a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  <a class="scrolltotop" href="javascript:void(0)" id="scrollToTop" title="Scroll To Top">
      <img alt="Top arrow" height="48" src="assets/images/top-arrow.svg" width="48">
  </a>
</footer>