<header class="site-header" id="site-header">
  <div class="header-main header-bottom fluid-section">
      <div class="header-logo">
        <a href="index.html" title="Les amis de la maison du vin">
            <img alt="logo des amis de la maison du vin" src="assets/logo.png" width="300">
        </a>
      </div>
      <!-- add toggled to display menu -->
    <div class="main-navigation" id="main-navigation">
      <button class="menu-toggle" id="menu-toggle"><span></span><span></span></button>
        <div class="header-menu">
          <nav>
            <ul class="menu">
              <li>
                <a class="round-shape-button header-active-menu" href="index.html"
                  title="Home">Accueil</a>
              </li>
              <li>
                <a class="round-shape-button" href="products.html" title="Contact">Produits</a>
              </li>
            </ul>
          </nav>
          <form class="search-form for-mob">
            <input class="form-input" placeholder="Rechercher un vin..." type="search">
            <button type="submit"><img alt="Search Icon" height="24" src="assets/images/search-icon.svg" width="24"></button>
          </form>
      </div>
    </div>
    <div class="header-search">
      <a class="search-button" href="javascript:void(0);" id="search-button">
        <img alt="Search Icon" height="24" src="assets/images/search-icon.svg" width="24">
      </a>
    </div>
  </div>
</header>

<div class="search-form-wp" id="search-form-wp">
  <form class="search-form">
      <input class="form-input" placeholder="Rechercher votre vin ici..." type="search">
      <button type="submit">
          <img alt="Search Icon" height="24" src="assets/images/search-icon.svg" width="24">
      </button>
  </form>
  <button class="close-button" id="close-button">X</button>
</div>